{% load static %}

<div class="container">
    <form class="row input-group mt-5 mb-1 mx-3 w-auto" action="#" method="GET">
        {% for field in ticketRegisterForm %}
            {{ field }}
        {% endfor %}
        <button class="col-3 btn index-buy-ticket-button w-auto p-0 ps-3 pe-3" type="submit"
            id="button-addon2">Зарегистрироваться</button>
    </form>
    <div class="container ms-2 mb-5 mt-2">
        Регистрация открывается <span class="register-warning-bold">за 30 часов</span> до планового времени вылета.
    </div>
</div>