{% load static %}

<div class="container">
    <div class="row input-group mt-5 mb-1 mx-3 w-auto">
        <input type="text" class="col-5 form-control" placeholder="Фамилия пассажира">
        <input type="text" class="col-4 form-control" placeholder="Номер билета">
        <button class="col-3 btn index-buy-ticket-button w-auto p-0 ps-3 pe-3" type="button" id="button-addon2">Зарегистрироваться</button>
    </div>
    <div class="container ms-2 mb-5 mt-2">
        Регистрация открывается <span class="register-warning-bold">за 30 часов</span> до планового времени вылета.
    </div>
</div>