{% load static %}

<div class="container">
    <form class="row mt-5 mb-5 mx-3" method="GET">
        {% for field in buyTicketsForm %}
            {% if field.name == 'flight_date' %}
            <div class="col-3 p-0">
                {{ field }}
            </div>
            {% else %}
            <div class="col-4 p-0">
                {{ field }}
            </div>
            {% endif %}
        {% endfor %}
        <div class="col-1 p-0">
            <button class="btn index-right-forms button-layout-color w-100" type="submit">
                <img src="{% static 'imgs/search.svg' %}"/>
            </button>
        </div>
    </form>
</div>
