{% extends 'layouts/main_layout.html' %}
{% load static %}


{% block content %}
<div class="index-back-image">
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-lg-10 col-12 bg-light rounded">
                <h2 class="m-4 text-center">Вы выбрали:</h2>
                <div class="container border rounded mt-2 mb-2 ms-1 me-1 p-1">
                    <div class="row m-0">
                        <div class="col-3 p-1">
                            <div class="pb-2 pt-2 rounded buy-ticket-menu-date">
                                <div class="w-100 text-center">{{ curr_flight.date_departure|date:'l' }}</div>
                                <div class="w-100 text-center fs-1 fw-bolder">{{ curr_flight.date_departure|date:'d' }}</div>
                                <div class="w-100 text-center fs-5 fw-normal">{{ curr_flight.date_departure|date:'F' }}</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="w-100 d-inline-flex justify-content-between">
                                <h4 class="ms-1 mt-2">Bauman Airlines</h4>
                                <div class="me-2 mt-2 mb-2 fw-normal fs-5">Рейс: {{ curr_flight.airway.number }}</div>
                            </div>
                            <div class="w-100 d-inline-flex justify-content-between mb-1">
                                <div class="d-inline-flex">
                                    <div class="ms-1">
                                        <div class="align-content-center">
                                            <div class="fw-bold fs-1">{{ curr_flight.time_departure|time:"H:i" }}</div>
                                        </div>
                                    </div>
                                    <div class="pt-1 ms-2 align-content-center text-center fw-bolder">{{ curr_flight.airway.departure_airport.international_code }}</div>
                                </div>
                                <div class="align-content-center pt-1">В пути: {{ curr_flight.airway.flight_duration_hhmm }}</div>
                                <div class="d-inline-flex">
                                    <div class="pt-1 me-2 align-content-center text-center fw-bolder">{{ curr_flight.airway.destination_airport.international_code }}</div>
                                    <div class="me-1">
                                        <div class="align-content-center">
                                            <div class="fw-bold fs-1">{{ curr_flight.time_arrival|time:"H:i" }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 p-1">
                            {% if add_lug == 1 %}
                            <div class="btn-like-color-plus w-100 h-100 rounded">
                                <div class="h-50 fw-bolder fs-5 text-center align-content-center pt-3 text-light">Эконом Плюс</div>
                                <div class="h-50 fs-3 fw-bold text-center text-light align-content-start">{{ curr_flight.extra_lug_price }} ₽</div>
                            </div>
                            {% else %}
                            <div class="btn-like-color-primary w-100 h-100 rounded">
                                <div class="h-50 fw-bolder fs-5 text-center align-content-center pt-3 text-light">Эконом Базовый</div>
                                <div class="h-50 fs-3 fw-bold text-center text-light align-content-start">{{ curr_flight.price }} ₽</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="container">
                    <form method='POST' class="row m-0">
                        <div class="col-8 ps-0 pe-2">
                            {% csrf_token %}
                            {% for each_service in available_services %}
                                {% include 'components/available_service_card_copy.html' %}
                            {% endfor %}
                        </div>
                        <div class="col-4 ps-1 pe-0">
                            <div class="border rounded mt-1">
                                <div class="m-2 fs-5 text-center">Выбрать документ:</div>
                                {% if client_docs %}
                                {% for client_doc in client_docs %}
                                    {% include 'components/client_doc_for_ticket.html' %}
                                {% endfor %}
                                {% else %}
                                <div class="w-100 d-inline-flex justify-content-center">
                                    <a class="btn btn-primary m-2" href="{% url 'profile.docs' %}">Добавить документ</a>
                                </div>
                                {% endif %}
                            </div>
                            <div class="border rounded mt-1 p-2 w-100">
                                <ol class="service-added-list ps-1 pe-1">
                                    <li class="w-100 d-inline-flex justify-content-between">
                                        <div class="fs-5">Билет</div>
                                        <div class="fs-5">{{ curr_flight.price }}</div>
                                    </li>
                                </ol>
                                <div class="w-100 d-inline-flex justify-content-between ps-1 pe-1 mb-2">
                                    <div class="fs-4">Итого:</div>
                                    <div class="fs-5 services-sum">{{ curr_flight.price }}</div>
                                </div>
                                <button class="w-100 btn button-ticket-plus-color" type="submit">Оплатить</button>
                            </div>
                            {% for message in messages %}
                                    <div class="alert alert-warning mt-1" role="alert">
                                        {{ message }}
                                    </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/ticket_services_sum.js' %}" ></script>
</div>
{% endblock %}