{% extends 'layouts/main_layout.html' %}
{% load static %}

{% block content %}
<div class="index-back-image">
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-lg-4 col-10 container justify-content-center bg-light rounded mt-5">
                    <h2 class="m-4 text-center">Регистрация</h2>
                    <form class="m-2" method="POST">
                        {% csrf_token %}
                        {% for field in registerForm %}
                            {{ field }}
                            {{ field.errors }}
                        {% endfor %}
                        <label class="form-check-label" for="register_not_a_robot">I am not a robot</label>
                        {% for each_error in registerForm.non_field_errors %} 
                            <div class="alert alert-warning mt-1 me-1 ms-1" role="alert">
                                {{ each_error }}
                            </div>
                        {% endfor %}
                        <button class="btn btn-outline-primary w-100 mb-2" type="submit">Зарегистрироваться</button>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}